.mod table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.mod table > caption > span {
	font: bold;
}

.mod th {
	background-color: black;
	color: white;
	height: 40px;
	width: 150px
}

.mod td {
	background-color: white;
	text-align: center;
	height: 40px;
}

.mod input {
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}

.mod select {
	height: 36px;
	font-size: 15px;
	
}

.mod ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.mod ul li {
	position: relative;
	padding: 0 18px;
}

.mod button {
	width: 100px;
	height: 33px;
	background: #2B2B2B;
	font-size: 20px;
	color: white;
}

.mod button:hover {
	color: #86BC25;
}

.bbb {
	width: 600px;
}