.reg  table{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 80%
}

.reg th, td {
	border: 1px solid black; 
	border-collapse: collapse;
}

.reg th {
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
} 

.reg ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.reg ul li {
	position: relative;
	padding: 0 18px;
}

.reg input {
	height: 30px;
	font-size: 15px;
}

.reg select {
	height: 30px;
	font-size: 15px;
}

.reg button {
	width: 100px;
	height: 33px;
	background: #2B2B2B;
	font-size: 20px;
	color: white;
}

.reg button:hover {
	color: #86BC25;
}