.view table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.view table > caption > span {
	font: bold;
}

.view th, td {
	border: 1px solid;
}

.view th {
	background-color: black;
	color: white;
	height: 40px;
	font-size: 17px;
}

.view td {
	background-color: white;
	text-align: center;
	width: 300px;
	height: 40px;
}

.view ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.view ul li {
	position: relative;
	padding: 0 18px;
}

.view button {
	width: 100%;
	background: #2B2B2B;
	font-size: 20px;
	color: white;
}

.view button:hover {
	color: #86BC25;
}